.env
.spec
config/*.local.yaml
node_modules/
build/
.venv
cache
gql-cache*
__pycache__

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
env/*.tfvars
!env/terraform.tfvars.example
terraform/environments/**/terraform.tfvars
!terraform/environments/**/terraform.tfvars.example
